/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
	margin: 0;
	padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
	/*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
	// font: 12px/1 "Microsoft Yahei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
	// font: 12px/1 "PingFang SC", "Microsoft Yahei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	-webkit-font-smoothing: antialiased;
}
.font-yh {
	font-family: "Microsoft Yahei";
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	border-bottom: 1px dotted;
	cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
	font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 重置 hr */
hr {
	border: none;
	height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; -ms-overflow-y: scroll; }

/*页面最小宽度*/
html, body {
	min-width: 1200px;
}

/*全站所有使用背景图标的@2*/
/*大图标，没有找到合适的图标，与设计稿对不上的图标，使用合成图，全站暂时没有使用字体图标*/
.iconsprite {
	display: inline-block;
	background-image: url('../img/iconsprite-x2.png');
	background-repeat: no-repeat;
	background-size: auto 300px;
	font-style: normal;
	font-weight: normal;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*小于12px文字*/
.font11 {
	font-size: 12px;
	transform: scale(0.917);
	-ms-transform: scale(0.917);
	-o-transform: scale(0.917);
	-webkit-transform: scale(0.917);
	-moz-transform: scale(0.917);
}
.font10 {
	font-size: 12px;
	transform: scale(0.833);
	-ms-transform: scale(0.833);
	-o-transform: scale(0.833);
	-webkit-transform: scale(0.833);
	-moz-transform: scale(0.833);
}
.font9 {
	font-size: 12px;
	transform: scale(0.75);
	-ms-transform: scale(0.75);
	-o-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
}
.font8 {
	font-size: 12px;
	transform: scale(0.667);
	-ms-transform: scale(0.667);
	-o-transform: scale(0.667);
	-webkit-transform: scale(0.667);
	-moz-transform: scale(0.667);
}
.fontlt {
	transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
}

/*动画过度效果，用于：文字颜色变化，位置移动*/
.transition02 {
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

/*全站loading 动画*/
i.iconsprite.loading {
	width: 15px;
	height: 15px;
	background-position: 0 -285px;

	animation: loading 1s linear infinite;
	-moz-animation: loading 1s linear infinite;
	-webkit-animation: loading 1s linear infinite;
	-o-animation: loading 1s linear infinite;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}
@-moz-keyframes loading {
	0% {
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}
@-webkit-keyframes loading {
	0% {
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}
@-o-keyframes loading {
	0% {
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}

/* ---------------------------------------------------------------
Clearfix
--------------------------------------------------------------- */

.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
