<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
        <meta name="author" content="kc">
        <meta name="description" content="尤物志,倒包给你看">

        <!-- <link rel="stylesheet" href="([$baseurl])usexy/css/normalize.css"> -->
        <link rel="stylesheet" href="([$baseurl])usexy/css/public.css">
        <link rel="stylesheet" href="([$baseurl])usexy/css/main.css">
        <!-- <link rel="stylesheet" href="([$baseurl])usexy/css/jquery.fullPage.css" /> -->
        <!-- <script src="([$baseurl])usexy/js/px2rem.js" charset="utf-8"></script> -->
        <script src="([$baseurl])usexy/js/flexible.js" charset="utf-8"></script>

        <title>倒包给你看</title>

        <style media="screen">
            *{

            }
        </style>
    </head>
    <body>
        <div id="app">
            <header style="display: none;"></header>
            <section class="main">
                <textarea name="name" rows="8" cols="20"></textarea>
                <input type="text" name="" value="" placeholder="依然范特西">
                <input type="search" name="" value="search" placeholder="请输入..." style="line-height: 46px; height: 46px;">
                <input type="submit" name="" value="submit">
                <input type="reset" name="" value="reset">
                <input type="radio" name="radio1" value="">
                <input type="radio" name="radio1" value="">
                <input type="checkbox" name="checkbox1" value="">
                <input type="checkbox" name="checkbox1" value="">
                <input type="button" name="" value="button">
                <input type="file" name="" value="file">
                <input type="password" name="" value="file">
                <a href="javascript:;">I am a link</a>
                <select class="" name="select" value="">
                    <option value="fsafda">fsafda</option>
                    <option value="fsdafdsafds">fsdafdsafds</option>
                    <option value="gfhjk" selected>gfhjk</option>
                    <!-- $("select").find(":selected").val() -->
                </select>
                <button type="button" name="button">click</button>

                <p class="txt_break txt_ellipsis" style="-webkit-line-clamp: 2; width: 7.5rem;">fsdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaqwe rtyhjk北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！ qwert yhjk qwertyhj kqwe rty hjkqwe rtyh jkqwertyhjkq wertyhjkqwe rtyhjkq wertyhjkq wertyhjkqw ertyhjk qwerthjkqwe rtyhjkqwe rtyhjkqw erty hjk</p>
                <!-- IE浏览器只能单行省略 -->
                <p class="txt_nowrap txt_ellipsis" style="-webkit-line-clamp: 1; width: 7.5rem; display: block;">fsdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaqwe rtyhjk北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！北京 欢迎 你！ qwert yhjk qwertyhj kqwe rty hjkqwe rtyh jkqwertyhjkq wertyhjkqwe rtyhjkq wertyhjkq wertyhjkqw ertyhjk qwerthjkqwe rtyhjkqwe rtyhjkqw erty hjk</p>
            </section>
            <footer style="font-size: .18rem;">aaaas依然范特西aaaas依然范特西aaaas依然范特西aaaas依然范特西aaaas依然范特西aaaas依然范特西aaaas依然范特西aaaas依然范特西</footer>
        </div>
    </body>
</html>
<script type="text/javascript" src="([$baseurl])usexy/js/jquery-1.8.3.min.js"></script>
